flow.json
[
    {
        "type": "tab",
        "id": "8bd1f7de.742e08",
        "label": "auth"
    },
    {
        "type": "tab",
        "id": "5874fd9f.a78b04",
        "label": "projects"
    },
    {
        "type": "tab",
        "id": "b3f64739.4c09b8",
        "label": "deployments"
    },
    {
        "type": "tab",
        "id": "5793e61e.a86c18",
        "label": "helpers"
    },
    {
        "type": "tab",
        "id": "6cdb4cfd.9324b4",
        "label": "flows"
    },
    {
        "id": "499f776b.b66088",
        "type": "jwt",
        "name": "encript session data",
        "config": "c7ebc3c6.38144",
        "x": 424,
        "y": 221,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "d680f7c8.297f08"
            ]
        ]
    },
    {
        "id": "d680f7c8.297f08",
        "type": "function",
        "name": "insert(session)",
        "srcFunc": "",
        "func": "msg.topic = 'insert';\nvar now = new Date();\nmsg.args = {\n collection: 'sessions',\n document : {\n \t organization : msg.request.organization,\n \t user: msg.request.username,\n\t created : now,\n\t token : msg.payload\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 635,
        "y": 223,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "e505e329.1afa2"
            ]
        ]
    },
    {
        "id": "e505e329.1afa2",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 777,
        "y": 223,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "6b5570e5.94aa9"
            ]
        ]
    },
    {
        "id": "3842d080.c7bd3",
        "type": "function",
        "name": "create session",
        "srcFunc": "",
        "func": "var currentUser = msg.payload.username;\nvar currentTime = new Date();\nvar expires = currentTime.setDate(currentTime.getDate() + 7);\n\nmsg.topic = \"encode\";\nmsg.args = {user:currentUser ,ex: expires};\n\nreturn msg;",
        "outputs": 1,
        "x": 234,
        "y": 221,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "499f776b.b66088"
            ]
        ]
    },
    {
        "id": "6b5570e5.94aa9",
        "type": "function",
        "name": "return session token",
        "srcFunc": "",
        "func": "var token = msg.payload[0].token;\nmsg.payload = {token:token, username:msg.request.username} \nreturn msg;",
        "outputs": 1,
        "x": 963,
        "y": 224,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "76eb85bd.89147c"
            ]
        ]
    },
    {
        "id": "76eb85bd.89147c",
        "type": "http response",
        "name": "success",
        "x": 1041,
        "y": 272,
        "z": "8bd1f7de.742e08",
        "wires": []
    },
    {
        "id": "d861e887.279e18",
        "type": "http in",
        "name": "",
        "url": "/login",
        "method": "post",
        "x": 100,
        "y": 367,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "fb25b0a7.04da5"
            ]
        ]
    },
    {
        "id": "6382bbd6.9c7d44",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 934,
        "y": 427,
        "z": "8bd1f7de.742e08",
        "wires": []
    },
    {
        "id": "e39a8c3c.1c657",
        "type": "function",
        "name": "validate",
        "srcFunc": "c37108bf.3c8ef8",
        "func": "msg.request = msg.payload;\nif(msg.payload.error)\n{\n\treturn [msg, null];\n}\nreturn [null, msg];",
        "outputs": "2",
        "x": 269,
        "y": 73,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "60997abf.9f6684"
            ],
            [
                "14f7fb1e.eb0805"
            ]
        ]
    },
    {
        "id": "60997abf.9f6684",
        "type": "http response",
        "name": "invalid request error",
        "x": 439,
        "y": 29,
        "z": "8bd1f7de.742e08",
        "wires": []
    },
    {
        "id": "14f7fb1e.eb0805",
        "type": "function",
        "name": "find org",
        "srcFunc": "74164655.8be9b8",
        "func": "return msg;",
        "outputs": "1",
        "x": 434,
        "y": 74,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "d0e6b011.2f195"
            ]
        ]
    },
    {
        "id": "8d86248b.7279d8",
        "type": "function",
        "name": "org exists?",
        "srcFunc": "",
        "func": "if(msg.payload)\n{\n\t//org already exists\n\tmsg.payload = {error : \"Organization already exists. If you belong to this organization please ask the admin to create a user. Otherwise select a different organization name.\"};\n\treturn [msg, null];\n}\n//success\nreturn [null, msg];",
        "outputs": "2",
        "x": 731,
        "y": 76,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "cf9ebaab.306148"
            ],
            [
                "a453d4c0.5bac28"
            ]
        ]
    },
    {
        "id": "cf9ebaab.306148",
        "type": "http response",
        "name": "org exists error",
        "x": 874,
        "y": 35,
        "z": "8bd1f7de.742e08",
        "wires": []
    },
    {
        "id": "a453d4c0.5bac28",
        "type": "function",
        "name": "insert(org)",
        "srcFunc": "",
        "func": "msg.topic = 'insert';\nvar now = new Date();//TODO: UTC now using moment\nmsg.args = {\n collection: 'organizations',\n document : {\n\t _id : msg.request.organization,\n\t created : now,\n\t users : [\n\t \t{\n\t \t\tusername : msg.request.username,\n\t \t\tpassword : msg.request.password,//TODO: encrypt\n\t \t\tcreated : now,\n\t \t\tisAdmin : true\n\t \t}\n\t ]\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 422,
        "y": 138,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "ebbe06f9.1441f8"
            ]
        ]
    },
    {
        "id": "52cce4d8.ad331c",
        "type": "function",
        "name": "return",
        "srcFunc": "",
        "func": "return msg;",
        "outputs": 1,
        "x": 712,
        "y": 138,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "3842d080.c7bd3"
            ]
        ]
    },
    {
        "id": "9f747cfe.608b8",
        "type": "function",
        "name": "test",
        "srcFunc": "",
        "func": "msg.payload = {\n\torganization : 'att',\n\tusername : 'gilad',\n\tpassword : 'Aa123456'\n};\nreturn msg;",
        "outputs": 1,
        "x": 126,
        "y": 134,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "e39a8c3c.1c657"
            ]
        ]
    },
    {
        "id": "ab69cae3.549638",
        "type": "http in",
        "name": "",
        "url": "/register",
        "method": "post",
        "x": 96,
        "y": 65,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "e39a8c3c.1c657"
            ]
        ]
    },
    {
        "id": "9cd44019.632bc",
        "type": "function",
        "name": "find org",
        "srcFunc": "74164655.8be9b8",
        "func": "return msg;",
        "outputs": "1",
        "x": 448,
        "y": 364,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "659f609.f9a60a"
            ]
        ]
    },
    {
        "id": "6e24ccbb.91db34",
        "type": "function",
        "name": "find user",
        "srcFunc": "",
        "func": "var user = null;\nvar org = msg.payload;\nif(org)\n{\n\torg.users.forEach(function(t){\n\t\t//TODO: decrypt password\n\t\tif(t.username == msg.request.username &&\n\t\t t.password == msg.request.password)\n\t\t user = t;\n\t});\n}\nif(!user)\n{\n\t//msg.statusCode = 403;\n\tmsg.payload = {error : \"Invalid credentials\"};\n\treturn [msg, null];\n}\n//success\nmsg.payload = user;\nmsg.organization = org;\nreturn [ null, msg];",
        "outputs": "2",
        "x": 762,
        "y": 364,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "6382bbd6.9c7d44"
            ],
            [
                "3842d080.c7bd3"
            ]
        ]
    },
    {
        "id": "5ad81d2b.a527e4",
        "type": "http response",
        "name": "invalid request error",
        "x": 449,
        "y": 420,
        "z": "8bd1f7de.742e08",
        "wires": []
    },
    {
        "id": "fb25b0a7.04da5",
        "type": "function",
        "name": "validate",
        "srcFunc": "c37108bf.3c8ef8",
        "func": "msg.request = msg.payload;\nif(msg.payload.error)\n{\n\treturn [msg, null];\n}\nreturn [null, msg];",
        "outputs": "2",
        "x": 271,
        "y": 366,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "5ad81d2b.a527e4"
            ],
            [
                "9cd44019.632bc"
            ]
        ]
    },
    {
        "id": "80ac79ed.7f5388",
        "type": "function",
        "name": "test",
        "srcFunc": "",
        "func": "msg.payload = {\n\torganization : 'att',\n\tusername : 'gilad',\n\tpassword : 'Aa123456'\n};\nreturn msg;",
        "outputs": 1,
        "x": 110,
        "y": 431,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "fb25b0a7.04da5"
            ]
        ]
    },
    {
        "id": "d0e6b011.2f195",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 565,
        "y": 75,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "8d86248b.7279d8"
            ]
        ]
    },
    {
        "id": "ebbe06f9.1441f8",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 565,
        "y": 138,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "52cce4d8.ad331c"
            ]
        ]
    },
    {
        "id": "659f609.f9a60a",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 600,
        "y": 365,
        "z": "8bd1f7de.742e08",
        "wires": [
            [
                "6e24ccbb.91db34",
                "2dd3b195.d22c4e"
            ]
        ]
    },
    {
        "id": "b1b90100.4e47",
        "type": "http in",
        "name": "",
        "url": "/projects",
        "method": "get",
        "x": 148.73015594482422,
        "y": 210.96825981140137,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "c6dc5700.3923a8"
            ]
        ]
    },
    {
        "id": "bec2f812.413d08",
        "type": "function",
        "name": "find projects",
        "srcFunc": "",
        "func": "msg.topic = 'find';\nmsg.args = {\n collection: 'projects',\n query: { organization :msg.organization }\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 380.51985931396484,
        "y": 211.74604034423828,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "f0ba52e9.0f45b"
            ]
        ]
    },
    {
        "id": "470fdff2.b8f02",
        "type": "http response",
        "name": "success",
        "x": 897.3532676696777,
        "y": 210.52381896972656,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "f0ba52e9.0f45b",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 535.742115020752,
        "y": 211.52383422851562,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "f6943f2b.096bc"
            ]
        ]
    },
    {
        "id": "f6943f2b.096bc",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "var response = [];\nvar projects = msg.payload;\nfor(var i=0; i<projects.length; i++) {\n\tresponse.push({\n\t\tid: projects[i]._id,\n\t\tname: projects[i].name,\n\t\tcreatedAt: projects[i].createdAt,\n\t\tcreatedBy: projects[i].createdBy,\n\t\t'git.url': projects[i].git.url,\n\t\t'git.username': projects[i].git.username,\n\t\t'git.password': projects[i].git.password\n\t})\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "x": 727.5199546813965,
        "y": 210.52381896972656,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "470fdff2.b8f02"
            ]
        ]
    },
    {
        "id": "d2b2ed4a.2d4d1",
        "type": "comment",
        "name": "list projects",
        "info": "",
        "x": 158.06349563598633,
        "y": 163.96827125549316,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "c6dc5700.3923a8",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 364.2063293457031,
        "y": 130.099214553833,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "89e0b7ca.761f48"
            ]
        ]
    },
    {
        "id": "89e0b7ca.761f48",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 531.9841346740723,
        "y": 130.099214553833,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "955232ed.6aadd"
            ]
        ]
    },
    {
        "id": "955232ed.6aadd",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 704.2063179016113,
        "y": 128.98810005187988,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "78839ae2.877c64"
            ],
            [
                "bec2f812.413d08"
            ]
        ]
    },
    {
        "id": "78839ae2.877c64",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 925.3173942565918,
        "y": 122.32143783569336,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "a36dd677.5c9228",
        "type": "http response",
        "name": "success",
        "x": 1064.7540130615234,
        "y": 483.7817783355713,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "3e4757a4.c1b8a8",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 703.1428604125977,
        "y": 484.78179359436035,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "7778ab3f.888754"
            ]
        ]
    },
    {
        "id": "7778ab3f.888754",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "var project = msg.payload[0];\n\nvar response = {\n\tid: project._id,\n\tname: project.name,\n\tcreatedAt: project.createdAt,\n\tcreatedBy: project.createdBy,\n\t'git.url': project.git.url,\n\t'git.username': project.git.username,\n\t'git.password': project.git.password\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "x": 894.9207000732422,
        "y": 483.7817783355713,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "a36dd677.5c9228"
            ]
        ]
    },
    {
        "id": "9dd5de47.622a2",
        "type": "function",
        "name": "validate",
        "srcFunc": "4cd4adcc.b32b54",
        "func": "if(msg.payload.error)\n{\n\treturn [msg, null];\n}\nreturn [null, msg];",
        "outputs": "2",
        "x": 375.14282989501953,
        "y": 436.83731842041016,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "b86bbdb.f47944"
            ],
            [
                "81855397.7e7ab"
            ]
        ]
    },
    {
        "id": "b86bbdb.f47944",
        "type": "http response",
        "name": "invalid request error",
        "x": 581.1904067993164,
        "y": 430.89685916900635,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "8856829d.77a98",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 352.85713958740234,
        "y": 351.03571128845215,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "85cc4c5d.7a33b"
            ]
        ]
    },
    {
        "id": "85cc4c5d.7a33b",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 520.6349449157715,
        "y": 351.03571128845215,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "6c4febd3.93b014"
            ]
        ]
    },
    {
        "id": "6c4febd3.93b014",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 692.8571281433105,
        "y": 349.924596786499,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "183d949e.e7c26b"
            ],
            [
                "9dd5de47.622a2"
            ]
        ]
    },
    {
        "id": "183d949e.e7c26b",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 913.968204498291,
        "y": 343.2579345703125,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "385059d5.c7afa6",
        "type": "http in",
        "name": "",
        "url": "/projects",
        "method": "post",
        "x": 143.33333587646484,
        "y": 435.00004148483276,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "8856829d.77a98"
            ]
        ]
    },
    {
        "id": "8d12fc33.72ed",
        "type": "comment",
        "name": "new project",
        "info": "",
        "x": 136.66667938232422,
        "y": 393.3333387374878,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "81855397.7e7ab",
        "type": "function",
        "name": "create project",
        "srcFunc": "",
        "func": "msg.topic = 'insert';\nvar now = new Date();\nmsg.args = {\n collection: 'projects',\n document: { \n \tname: msg.request['name'],\n \torganization :msg.organization,\n \tcreatedBy: msg.user,\n \tcreatedAt: now,\n \tgit: {\n \t\turl: msg.request['git.url'],\n \t\tusername: msg.request['git.username'],\n \t\tpassword: msg.request['git.password']\n \t}\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 547.5594673156738,
        "y": 484.22618293762207,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "3e4757a4.c1b8a8"
            ]
        ]
    },
    {
        "id": "1dbac733.e24539",
        "type": "http response",
        "name": "success",
        "x": 1107.9802932739258,
        "y": 728.0952110290527,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "ff80e2c0.007f2",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "var project = msg.payload;\nvar response = {\n\tid: project._id,\n\tname: project.name,\n\tcreatedAt: project.createdAt,\n\tcreatedBy: project.createdBy,\n\t'git.url': project.git.url,\n\t'git.username': project.git.username,\n\t'git.password': project.git.password\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "x": 938.1469802856445,
        "y": 728.0952110290527,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "1dbac733.e24539"
            ]
        ]
    },
    {
        "id": "783296e0.87cd68",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 360.54764556884766,
        "y": 601.9563694000244,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "94b40016.6b4c"
            ]
        ]
    },
    {
        "id": "94b40016.6b4c",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 528.3254508972168,
        "y": 601.9563694000244,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "65b7be22.9a484"
            ]
        ]
    },
    {
        "id": "65b7be22.9a484",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 700.5476341247559,
        "y": 600.8452548980713,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "74cd1bfe.8b32e4"
            ],
            [
                "110a5ff7.eef5a"
            ]
        ]
    },
    {
        "id": "74cd1bfe.8b32e4",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 921.6587104797363,
        "y": 594.1785926818848,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "b3baaca3.4c455",
        "type": "http in",
        "name": "",
        "url": "/projects/:id",
        "method": "get",
        "x": 153.33330535888672,
        "y": 708.3334217071533,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "783296e0.87cd68"
            ]
        ]
    },
    {
        "id": "d387f43c.2c7808",
        "type": "comment",
        "name": "get project",
        "info": "",
        "x": 148.09522247314453,
        "y": 661.9047927856445,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "ca89474f.3576b8",
        "type": "http response",
        "name": "success",
        "x": 1025.8849716186523,
        "y": 1043.0357360839844,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "f7e3392d.081cc8",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 674.2738800048828,
        "y": 1044.0357809066772,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "1a7bebaf.e58414"
            ]
        ]
    },
    {
        "id": "1a7bebaf.e58414",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "var project = msg.payload;\nvar response = {\n\tid: project._id,\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "x": 866.0517196655273,
        "y": 1043.0357656478882,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "ca89474f.3576b8"
            ]
        ]
    },
    {
        "id": "6ab93b07.9546c4",
        "type": "function",
        "name": "validate",
        "srcFunc": "4cd4adcc.b32b54",
        "func": "if(msg.payload.error)\n{\n\treturn [msg, null];\n}\nreturn [null, msg];",
        "outputs": "2",
        "x": 346.2738494873047,
        "y": 996.091305732727,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "c67baad2.398458"
            ],
            [
                "491ae736.b6e518"
            ]
        ]
    },
    {
        "id": "c67baad2.398458",
        "type": "http response",
        "name": "invalid request error",
        "x": 552.3214263916016,
        "y": 990.1508464813232,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "6f5c516e.90a3b",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 332.3810043334961,
        "y": 855.2897787094116,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "ed33a67a.12cc58"
            ]
        ]
    },
    {
        "id": "ed33a67a.12cc58",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 500.15880966186523,
        "y": 855.2897787094116,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "245f15f9.dba0ea"
            ]
        ]
    },
    {
        "id": "245f15f9.dba0ea",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 672.3809928894043,
        "y": 854.1786642074585,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "6322710a.9cdd9"
            ],
            [
                "6d8c2e43.9273d"
            ]
        ]
    },
    {
        "id": "6322710a.9cdd9",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 893.4920692443848,
        "y": 847.512001991272,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "f86906ab.0796f8",
        "type": "comment",
        "name": "update project",
        "info": "",
        "x": 128.83334350585938,
        "y": 918.809718132019,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "6e37597b.91c8a8",
        "type": "http in",
        "name": "",
        "url": "/projects/:id",
        "method": "put",
        "x": 128.33334350585938,
        "y": 956.6667909622192,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "6f5c516e.90a3b"
            ]
        ]
    },
    {
        "id": "491ae736.b6e518",
        "type": "function",
        "name": "update project",
        "srcFunc": "",
        "func": "var ObjectId = require('mongodb').ObjectID;\nmsg.topic = 'update';\nmsg.args = {\n collection: 'projects',\n criteria: {\n \t_id :new ObjectId(msg.request.params.id),\n \torganization: msg.organization\n },\n document: { \n \t$set : {\n \t  name: msg.request['name'],\n\t  git : {\n\t \turl : msg.request['git.url'], \n\t \tusername : msg.request['git.username'], \n\t \tpassword : msg.request['git.password']\n\t }\n \t}\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 522.0237998962402,
        "y": 1043.0357284545898,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "f7e3392d.081cc8"
            ]
        ]
    },
    {
        "id": "795679f.f86a988",
        "type": "http response",
        "name": "success",
        "x": 893.3848943710327,
        "y": 1332.4406304359436,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "46d772a4.b9288c",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 531.7737417221069,
        "y": 1333.4406456947327,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "7a947fb8.856b8"
            ]
        ]
    },
    {
        "id": "7a947fb8.856b8",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "//TODO: format response\nmsg.payload = {status:'ok'}\nreturn msg;",
        "outputs": 1,
        "x": 723.5515813827515,
        "y": 1332.4406304359436,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "795679f.f86a988"
            ]
        ]
    },
    {
        "id": "ef8af711.107508",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 332.3810148239136,
        "y": 1178.6230659484863,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "16881cea.e977e3"
            ]
        ]
    },
    {
        "id": "16881cea.e977e3",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 500.1588201522827,
        "y": 1178.6230659484863,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "84520759.7badf8"
            ]
        ]
    },
    {
        "id": "84520759.7badf8",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 672.3810033798218,
        "y": 1177.5119514465332,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "e75a23d1.18a5e"
            ],
            [
                "e584054a.1a7bf8"
            ]
        ]
    },
    {
        "id": "e75a23d1.18a5e",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 893.4920797348022,
        "y": 1170.8452892303467,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "4d044ceb.b2fbb4",
        "type": "comment",
        "name": "delete project",
        "info": "",
        "x": 116.33335781097412,
        "y": 1236.8255944252014,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "8f09d94d.70f628",
        "type": "http in",
        "name": "",
        "url": "/projects/:id",
        "method": "delete",
        "x": 133.3333501815796,
        "y": 1283.3334221839905,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "ef8af711.107508"
            ]
        ]
    },
    {
        "id": "c6e29bf8.391d68",
        "type": "function",
        "name": "delete project",
        "srcFunc": "",
        "func": "var ObjectId = require('mongodb').ObjectID;\nmsg.topic = 'delete';\nmsg.args = {\n collection: 'projects',\n criteria: {\n\t _id :new ObjectId(msg.request.params.id),\n\t organization: msg.organization\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 371.19033336639404,
        "y": 1332.440519809723,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "46d772a4.b9288c"
            ]
        ]
    },
    {
        "id": "201ac5.ffdfe53c",
        "type": "http in",
        "name": "",
        "url": "/project/:pid/deployments",
        "method": "get",
        "x": 217.50003623962402,
        "y": 263.2500066757202,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "cd8aa079.32756"
            ]
        ]
    },
    {
        "id": "ffd3dfbc.002c2",
        "type": "function",
        "name": "find deployments",
        "srcFunc": "",
        "func": "var ObjectId = require('mongodb').ObjectID;\nmsg.topic = 'find';\nmsg.args = {\n collection: 'deployments',\n query: { \n \torganization: msg.organization,\n \tproject: new ObjectId(msg.request.params.pid.toString())\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 518.3770561218262,
        "y": 328.6349182128906,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "6eb37253.914c8c"
            ]
        ]
    },
    {
        "id": "a6bfcf6e.59403",
        "type": "http response",
        "name": "success",
        "x": 1035.210464477539,
        "y": 327.4126968383789,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "6eb37253.914c8c",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 673.5993118286133,
        "y": 328.41271209716797,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "c551090e.3aaef8"
            ]
        ]
    },
    {
        "id": "c551090e.3aaef8",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "var response = [];\nvar deployments = msg.payload;\nfor(var i=0; i<deployments.length; i++) {\n\tresponse.push({\n\t\tid: deployments[i]._id,\n\t\tcreatedAt: deployments[i].createdAt,\n\t\tcreatedBy: deployments[i].createdBy,\n\t\tproject: deployments[i].project,\n\t\tname: deployments[i].name,\n\t\tdescription: deployments[i].description,\n\t})\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "x": 865.3771514892578,
        "y": 327.4126968383789,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "a6bfcf6e.59403"
            ]
        ]
    },
    {
        "id": "598ed73c.a67128",
        "type": "comment",
        "name": "list deployments",
        "info": "",
        "x": 222.23019981384277,
        "y": 215.49997425079346,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "cd8aa079.32756",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 497.77783393859863,
        "y": 159.84521102905273,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "4d28e8cd.b2d718"
            ]
        ]
    },
    {
        "id": "4d28e8cd.b2d718",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 665.5556392669678,
        "y": 159.84521102905273,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "8d77269a.7288d8"
            ]
        ]
    },
    {
        "id": "8d77269a.7288d8",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 837.7778224945068,
        "y": 158.7340965270996,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "b09af87d.4f6508"
            ],
            [
                "e68aef37.19751"
            ]
        ]
    },
    {
        "id": "b09af87d.4f6508",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 1058.8888988494873,
        "y": 152.0674343109131,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "3228f9af.cdd706",
        "type": "http response",
        "name": "success",
        "x": 1194.2778816223145,
        "y": 677.3373050689697,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "50dd067e.af22f8",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 832.6667289733887,
        "y": 678.3373203277588,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "fcb91687.0346e8"
            ]
        ]
    },
    {
        "id": "fcb91687.0346e8",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "var deployment = msg.payload[0];\nvar response = {\n\tid: deployment._id,\n\tcreatedAt: deployment.createdAt,\n\tcreatedBy: deployment.createdBy,\n\tname: deployment.name,\n\tdescription: deployment.description,\n\tproject: deployment.project,\n\t\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "x": 1024.4445686340332,
        "y": 677.3373050689697,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "3228f9af.cdd706"
            ]
        ]
    },
    {
        "id": "27a43109.d85bce",
        "type": "function",
        "name": "validate",
        "srcFunc": "36c67170.c9398e",
        "func": "if(msg.payload.error)\n{\n\treturn [msg, null];\n}\nreturn [null, msg];",
        "outputs": "2",
        "x": 504.66669845581055,
        "y": 630.3928451538086,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "c79b3966.3864c8"
            ],
            [
                "a7986f56.58679"
            ]
        ]
    },
    {
        "id": "c79b3966.3864c8",
        "type": "http response",
        "name": "invalid request error",
        "x": 710.7142753601074,
        "y": 624.4523859024048,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "a9c8067f.5637f8",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 510.71435737609863,
        "y": 472.21028089523315,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "46f3a78.fb90c58"
            ]
        ]
    },
    {
        "id": "46f3a78.fb90c58",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 678.4921627044678,
        "y": 472.21028089523315,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "a6667ee2.59998"
            ]
        ]
    },
    {
        "id": "a6667ee2.59998",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 850.7143459320068,
        "y": 471.09916639328003,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "57e24bad.a81db4"
            ],
            [
                "bf5cf8ff.40a308"
            ]
        ]
    },
    {
        "id": "57e24bad.a81db4",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 1071.8254222869873,
        "y": 464.4325041770935,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "2907a188.d6f85e",
        "type": "http in",
        "name": "",
        "url": "/project/:pid/deployments",
        "method": "post",
        "x": 218.3333797454834,
        "y": 586.5317497253418,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "a9c8067f.5637f8"
            ]
        ]
    },
    {
        "id": "9528eb78.6ad718",
        "type": "comment",
        "name": "new deployment",
        "info": "",
        "x": 245.83339881896973,
        "y": 543.1983737945557,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "a7986f56.58679",
        "type": "function",
        "name": "create deployment",
        "srcFunc": "",
        "func": "var ObjectId = require('mongodb').ObjectID;\nmsg.topic = 'insert';\nvar now = new Date();\nmsg.args = {\n collection: 'deployments',\n document: { \n \tproject: new ObjectId(msg.request.params.pid),\n \tname: msg.request.name,\n \tdescription: msg.request.description,\n \torganization :msg.organization,\n \tcreatedBy: msg.user,\n \tcreatedAt: now\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 677.0833358764648,
        "y": 677.7817096710205,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "50dd067e.af22f8"
            ]
        ]
    },
    {
        "id": "d22e8f1a.2dd17",
        "type": "http response",
        "name": "success",
        "x": 1283.2185020446777,
        "y": 970.698408126831,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "75c211f1.8a3df",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "var deployment = msg.deployment;\nvar response = {\n\tid: deployment._id,\n\tcreatedAt: deployment.createdAt,\n\tcreatedBy: deployment.createdBy,\n\tname: deployment.name,\n\tdescription: deployment.description,\n\tproject: deployment.project,\n\t\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "x": 1103.3850402832031,
        "y": 970.6984348297119,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "d22e8f1a.2dd17"
            ]
        ]
    },
    {
        "id": "95d13d58.6a2ec",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 515.5476818084717,
        "y": 810.9880256652832,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "dc06b337.23f95"
            ]
        ]
    },
    {
        "id": "dc06b337.23f95",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 683.3254871368408,
        "y": 810.9880256652832,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "320b9429.cdf46c"
            ]
        ]
    },
    {
        "id": "320b9429.cdf46c",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 855.5476703643799,
        "y": 809.8769111633301,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "408439e9.bf7bc8"
            ],
            [
                "95fb02af.6a05"
            ]
        ]
    },
    {
        "id": "408439e9.bf7bc8",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 1076.6587467193604,
        "y": 803.2102489471436,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "1bf82425.e407dc",
        "type": "http in",
        "name": "",
        "url": "/project/:pid/deployments/:did",
        "method": "get",
        "x": 225.83334922790527,
        "y": 913.6151285171509,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "95d13d58.6a2ec"
            ]
        ]
    },
    {
        "id": "89a1e7fb.765e18",
        "type": "comment",
        "name": "get deployment",
        "info": "",
        "x": 240.41669273376465,
        "y": 873.8531646728516,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "ed0ec46c.12f138",
        "type": "http response",
        "name": "success",
        "x": 1178.9802055358887,
        "y": 1435.1628532409668,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "daadd328.25523",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 827.3691139221191,
        "y": 1436.1628980636597,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "18a58a35.e75a76"
            ]
        ]
    },
    {
        "id": "18a58a35.e75a76",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "var project = msg.payload;\nvar response = {\n\tid: project._id,\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "x": 1019.1469535827637,
        "y": 1435.1628828048706,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "ed0ec46c.12f138"
            ]
        ]
    },
    {
        "id": "567ef6da.a98108",
        "type": "function",
        "name": "validate",
        "srcFunc": "36c67170.c9398e",
        "func": "if(msg.payload.error)\n{\n\treturn [msg, null];\n}\nreturn [null, msg];",
        "outputs": "2",
        "x": 499.369083404541,
        "y": 1388.2184228897095,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "be9d2d60.4162d"
            ],
            [
                "fd8cbbb7.027348"
            ]
        ]
    },
    {
        "id": "be9d2d60.4162d",
        "type": "http response",
        "name": "invalid request error",
        "x": 705.4166603088379,
        "y": 1382.2779636383057,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "dc9a27a0.2365d8",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 497.3810176849365,
        "y": 1139.3214302062988,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "817f5a39.7e80a8"
            ]
        ]
    },
    {
        "id": "817f5a39.7e80a8",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 665.1588230133057,
        "y": 1139.3214302062988,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "87a127bb.785ed8"
            ]
        ]
    },
    {
        "id": "87a127bb.785ed8",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 837.3810062408447,
        "y": 1138.2103157043457,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "2f1cae98.d0e352"
            ],
            [
                "c81e36ab.37e1c8"
            ]
        ]
    },
    {
        "id": "2f1cae98.d0e352",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 1058.4920825958252,
        "y": 1131.5436534881592,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "c36d32c1.3c92d",
        "type": "comment",
        "name": "update deployment",
        "info": "",
        "x": 224.25003623962402,
        "y": 1206.1745805740356,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "546fc3a6.ab903c",
        "type": "http in",
        "name": "",
        "url": "/project/:pid/deployments/:did",
        "method": "put",
        "x": 224.58336448669434,
        "y": 1244.44850730896,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "dc9a27a0.2365d8"
            ]
        ]
    },
    {
        "id": "fd8cbbb7.027348",
        "type": "function",
        "name": "update deployment",
        "srcFunc": "",
        "func": "var ObjectId = require('mongodb').ObjectID;\nmsg.topic = 'update';\nmsg.args = {\n collection: 'deployments',\n criteria: {\n \t_id :new ObjectId(msg.request.params.did),\n \torganization: msg.organization\n },\n document: { \n \t$set : {\n\t name : msg.request.name, \n\t description : msg.request.description\n\t \n \t}\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 663.6904430389404,
        "y": 1436.5914449691772,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "daadd328.25523"
            ]
        ]
    },
    {
        "id": "fd965c6c.0269a",
        "type": "http response",
        "name": "success",
        "x": 1013.1470146179199,
        "y": 1824.5675106048584,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "f6871230.0978f",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 651.5358619689941,
        "y": 1825.5675258636475,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "20dba9d3.df2456"
            ]
        ]
    },
    {
        "id": "20dba9d3.df2456",
        "type": "function",
        "name": "format response",
        "srcFunc": "",
        "func": "//TODO: format response\nmsg.payload = {status:'ok'}\nreturn msg;",
        "outputs": 1,
        "x": 843.3137016296387,
        "y": 1824.5675106048584,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "fd965c6c.0269a"
            ]
        ]
    },
    {
        "id": "74b861cd.8b47a",
        "type": "function",
        "name": "validate token",
        "srcFunc": "8b23058.f74dcf8",
        "func": "return msg;",
        "outputs": 1,
        "x": 469.76193618774414,
        "y": 1568.8452072143555,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "4ae1cce1.b51e34"
            ]
        ]
    },
    {
        "id": "4ae1cce1.b51e34",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 637.5397415161133,
        "y": 1568.8452072143555,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "e6cccf74.19333"
            ]
        ]
    },
    {
        "id": "e6cccf74.19333",
        "type": "function",
        "name": "token exist?",
        "srcFunc": "5c5ab926.a3a548",
        "func": "return msg;",
        "outputs": "2",
        "x": 809.7619247436523,
        "y": 1567.7340927124023,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "1c2cca26.e3d336"
            ],
            [
                "a7b00e72.584ff"
            ]
        ]
    },
    {
        "id": "1c2cca26.e3d336",
        "type": "http response",
        "name": "invalid credentials error",
        "x": 1030.8730010986328,
        "y": 1561.0674304962158,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "2106be9c.def942",
        "type": "comment",
        "name": "delete deployment",
        "info": "",
        "x": 189.66666412353516,
        "y": 1628.8334698677063,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "35216004.cadea",
        "type": "http in",
        "name": "",
        "url": "/project/:pid/deployments/:did",
        "method": "delete",
        "x": 178.2142791748047,
        "y": 1665.8770141601562,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "74b861cd.8b47a"
            ]
        ]
    },
    {
        "id": "51b60d2a.ae49f4",
        "type": "function",
        "name": "delete deployment",
        "srcFunc": "",
        "func": "var ObjectId = require('mongodb').ObjectID;\nmsg.topic = 'delete';\nmsg.args = {\n collection: 'deployments',\n criteria: {\n\t _id :new ObjectId(msg.request.params.did),\n\t project :new ObjectId(msg.request.params.pid),\n\t organization: msg.organization\n }\n};\nreturn msg;",
        "outputs": 1,
        "x": 490.95245361328125,
        "y": 1824.5673999786377,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "f6871230.0978f"
            ]
        ]
    },
    {
        "id": "36c67170.c9398e",
        "type": "function",
        "name": "#validate deployment request",
        "srcFunc": "",
        "func": "//TODO: implement validation\nvar validator = context.global.validator;\nvar r = msg.request;\nif(\n\tvalidator.isNull(r.name) ||\n\tvalidator.isNull(r.description)\n  )\n{\n\tmsg.payload = {error : \"Invalid data\"};\n\treturn msg;\n}\nreturn msg;",
        "outputs": "1",
        "x": 230,
        "y": 159.4285593032837,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "c37108bf.3c8ef8",
        "type": "function",
        "name": "#validate auth request",
        "srcFunc": "",
        "func": "//TODO: implement validation\nvar validator = context.global.validator;\nvar r = msg.payload;\nif(\n\tvalidator.isNull(r.username) ||\n\t!validator.isLength(r.username, 3, 20) ||\n\t!validator.isAlphanumeric(r.username) \n )\n{\n\t//msg.statusCode = 403;\n\tmsg.payload = {error : \"Invalid username\"};\n\treturn msg;\n}\nreturn msg;",
        "outputs": "1",
        "x": 207,
        "y": 78.42855930328369,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "74164655.8be9b8",
        "type": "function",
        "name": "#find org",
        "srcFunc": "",
        "func": "msg.topic = 'findOne';\nmsg.args = {\n collection: 'organizations',\n query: { _id :msg.request.organization }\n};\n\nreturn msg;",
        "outputs": "1",
        "x": 165,
        "y": 199.4285593032837,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "4cd4adcc.b32b54",
        "type": "function",
        "name": "#validate project request",
        "srcFunc": "",
        "func": "//TODO: implement validation\nvar validator = context.global.validator;\nvar r = msg.request;\nif(\n\tvalidator.isNull(r['name']) ||\n\tvalidator.isNull(r['git.url']) ||\n\tvalidator.isNull(r['git.username']) ||\n\tvalidator.isNull(r['git.password'])\n  )\n{\n\tmsg.payload = {error : \"Invalid data\"};\n\treturn msg;\n}\nreturn msg;",
        "outputs": "1",
        "x": 216,
        "y": 119.42855930328369,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "8b23058.f74dcf8",
        "type": "function",
        "name": "#find session",
        "srcFunc": "",
        "func": "msg.request = msg.payload || msg.req.body || msg.req.query;\nmsg.request.params = msg.req.params;\nmsg.topic = 'findOne';\nmsg.args = {\n collection: 'sessions',\n query: { token: msg.req.headers['x-auth-token'] }\n};\nreturn msg;",
        "outputs": 1,
        "x": 180,
        "y": 239.4285593032837,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "e68aef37.19751",
        "type": "function",
        "name": "find project",
        "srcFunc": "dc6f302e.2390d",
        "func": "return msg;",
        "outputs": "2",
        "x": 505.71426010131836,
        "y": 252.857159614563,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "2faf277f.d050d8"
            ],
            [
                "d581744c.2a7e88"
            ]
        ]
    },
    {
        "id": "d581744c.2a7e88",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 676.349235534668,
        "y": 258.57143688201904,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "ed28fa1d.12d708"
            ]
        ]
    },
    {
        "id": "ed28fa1d.12d708",
        "type": "function",
        "name": "project exist?",
        "srcFunc": "b7bc8803.484378",
        "func": "return msg;",
        "outputs": "2",
        "x": 848.571418762207,
        "y": 257.4603223800659,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "2faf277f.d050d8"
            ],
            [
                "ffd3dfbc.002c2"
            ]
        ]
    },
    {
        "id": "2faf277f.d050d8",
        "type": "http response",
        "name": "no such project error",
        "x": 1062.5396194458008,
        "y": 209.365083694458,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "dc6f302e.2390d",
        "type": "function",
        "name": "#find project by id",
        "srcFunc": "",
        "func": "var ObjectId = require('mongodb').ObjectID;\nvar pid = msg.request.params.pid || msg.request.params.id;\ntry{\n\tvar objectId = new ObjectId(pid);\n} catch (err){\n\tmsg.payload = {error : \"Missing Project\"};\n\treturn [msg, null];\n}\nmsg.topic = 'findOne';\nmsg.args = {\n  collection: 'projects',\n  query: { _id: objectId }\n};\nreturn [null, msg];",
        "outputs": 1,
        "x": 195,
        "y": 279.4285593032837,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "5c5ab926.a3a548",
        "type": "function",
        "name": "#token exist?",
        "srcFunc": "",
        "func": "var token = msg.payload;\nif(!token)\n{\n\tmsg.payload = {error : \"Invalid credentials\"};\n\treturn [msg, null];\n}\n//success\nmsg.organization = token.organization;\nmsg.user = token.user;\nreturn [null, msg];",
        "outputs": 1,
        "x": 182,
        "y": 359.4285593032837,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "bf5cf8ff.40a308",
        "type": "function",
        "name": "find project",
        "srcFunc": "dc6f302e.2390d",
        "func": "return msg;",
        "outputs": "2",
        "x": 511.6666564941406,
        "y": 555,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "6bb686a.f944978"
            ],
            [
                "20a6b901.df5946"
            ]
        ]
    },
    {
        "id": "20a6b901.df5946",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 682.3016319274902,
        "y": 560.714277267456,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "9e41fdde.61be"
            ]
        ]
    },
    {
        "id": "9e41fdde.61be",
        "type": "function",
        "name": "project exist?",
        "srcFunc": "b7bc8803.484378",
        "func": "return msg;",
        "outputs": "2",
        "x": 854.5238151550293,
        "y": 559.6031627655029,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "6bb686a.f944978"
            ],
            [
                "27a43109.d85bce"
            ]
        ]
    },
    {
        "id": "6bb686a.f944978",
        "type": "http response",
        "name": "no such project error",
        "x": 1068.492015838623,
        "y": 511.507924079895,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "95fb02af.6a05",
        "type": "function",
        "name": "find project",
        "srcFunc": "dc6f302e.2390d",
        "func": "return msg;",
        "outputs": "2",
        "x": 521.6666259765625,
        "y": 896.6666259765625,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "e47bc73b.1b8438"
            ],
            [
                "72fbc4ae.8d043c"
            ]
        ]
    },
    {
        "id": "72fbc4ae.8d043c",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 692.3016014099121,
        "y": 902.3809032440186,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "57ec8ce1.a81374"
            ]
        ]
    },
    {
        "id": "57ec8ce1.a81374",
        "type": "function",
        "name": "project exist?",
        "srcFunc": "b7bc8803.484378",
        "func": "return msg;",
        "outputs": "2",
        "x": 864.5237846374512,
        "y": 901.2697887420654,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "e47bc73b.1b8438"
            ],
            [
                "1f7d252e.e082db"
            ]
        ]
    },
    {
        "id": "e47bc73b.1b8438",
        "type": "http response",
        "name": "no such project error",
        "x": 1078.491985321045,
        "y": 853.1745500564575,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "c81e36ab.37e1c8",
        "type": "function",
        "name": "find project",
        "srcFunc": "dc6f302e.2390d",
        "func": "return msg;",
        "outputs": "2",
        "x": 501.6666564941406,
        "y": 1240,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "b0cb425.f4f34c"
            ],
            [
                "65120c86.9aedf4"
            ]
        ]
    },
    {
        "id": "65120c86.9aedf4",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 672.3016319274902,
        "y": 1245.714277267456,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "819ea1cd.7e616"
            ]
        ]
    },
    {
        "id": "819ea1cd.7e616",
        "type": "function",
        "name": "project exist?",
        "srcFunc": "b7bc8803.484378",
        "func": "return msg;",
        "outputs": "2",
        "x": 844.5238151550293,
        "y": 1244.603162765503,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "b0cb425.f4f34c"
            ],
            [
                "7ccca309.83335c"
            ]
        ]
    },
    {
        "id": "b0cb425.f4f34c",
        "type": "http response",
        "name": "no such project error",
        "x": 1058.492015838623,
        "y": 1196.507924079895,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "a7b00e72.584ff",
        "type": "function",
        "name": "find project",
        "srcFunc": "dc6f302e.2390d",
        "func": "return msg;",
        "outputs": "2",
        "x": 476.1904945373535,
        "y": 1667.380844116211,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "8fc2fb8c.703d08"
            ],
            [
                "5cc47261.a33b8c"
            ]
        ]
    },
    {
        "id": "5cc47261.a33b8c",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 646.8254699707031,
        "y": 1673.095121383667,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "b10581ef.4efa8"
            ]
        ]
    },
    {
        "id": "b10581ef.4efa8",
        "type": "function",
        "name": "project exist?",
        "srcFunc": "b7bc8803.484378",
        "func": "return msg;",
        "outputs": "2",
        "x": 819.0476531982422,
        "y": 1671.9840068817139,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "8fc2fb8c.703d08"
            ],
            [
                "b6c6e5de.493918"
            ]
        ]
    },
    {
        "id": "8fc2fb8c.703d08",
        "type": "http response",
        "name": "no such project error",
        "x": 1033.015853881836,
        "y": 1623.888768196106,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "70dc346b.8f23cc",
        "type": "http response",
        "name": "invalid project",
        "x": 919.2858419418335,
        "y": 1222.8572068214417,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "e584054a.1a7bf8",
        "type": "function",
        "name": "find project",
        "srcFunc": "dc6f302e.2390d",
        "func": "return msg;",
        "outputs": "2",
        "x": 375.0001211166382,
        "y": 1249.9999928474426,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "70dc346b.8f23cc"
            ],
            [
                "b27be8ec.4d8418"
            ]
        ]
    },
    {
        "id": "b27be8ec.4d8418",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 552.1428480148315,
        "y": 1255.7143483161926,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "fd994bc7.0266b8"
            ]
        ]
    },
    {
        "id": "fd994bc7.0266b8",
        "type": "function",
        "name": "project exist?",
        "srcFunc": "b7bc8803.484378",
        "func": "return msg;",
        "outputs": "2",
        "x": 712.1429052352905,
        "y": 1255.7142968177795,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "70dc346b.8f23cc"
            ],
            [
                "c6e29bf8.391d68"
            ]
        ]
    },
    {
        "id": "b7bc8803.484378",
        "type": "function",
        "name": "#project exist?",
        "srcFunc": "",
        "func": "var project = msg.payload;\nif(!project)\n{\n\tmsg.payload = {error : \"Missinig Project\"};\n\treturn [msg, null];\n}\n//success\nmsg.project = project;\nreturn [null, msg];",
        "outputs": 1,
        "x": 187,
        "y": 399.4285593032837,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "8f1a3fa.f70e5c",
        "type": "http response",
        "name": "invalid project",
        "x": 901.4286041259766,
        "y": 904.2858266830444,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "6d8c2e43.9273d",
        "type": "function",
        "name": "find project",
        "srcFunc": "dc6f302e.2390d",
        "func": "return msg;",
        "outputs": "2",
        "x": 357.14288330078125,
        "y": 931.4286127090454,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "8f1a3fa.f70e5c"
            ],
            [
                "588a05fb.a775fc"
            ]
        ]
    },
    {
        "id": "588a05fb.a775fc",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 534.2856101989746,
        "y": 937.1429681777954,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "f0d5be0c.0f2a4"
            ]
        ]
    },
    {
        "id": "f0d5be0c.0f2a4",
        "type": "function",
        "name": "project exist?",
        "srcFunc": "b7bc8803.484378",
        "func": "return msg;",
        "outputs": "2",
        "x": 694.2856674194336,
        "y": 937.1429166793823,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "8f1a3fa.f70e5c"
            ],
            [
                "6ab93b07.9546c4"
            ]
        ]
    },
    {
        "id": "6c64b64b.939b48",
        "type": "http response",
        "name": "invalid project",
        "x": 925.7143325805664,
        "y": 683.5714778900146,
        "z": "5874fd9f.a78b04",
        "wires": []
    },
    {
        "id": "110a5ff7.eef5a",
        "type": "function",
        "name": "find project",
        "srcFunc": "dc6f302e.2390d",
        "func": "return msg;",
        "outputs": "2",
        "x": 381.4286117553711,
        "y": 710.7142639160156,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "6c64b64b.939b48"
            ],
            [
                "5903b324.a6fc4c"
            ]
        ]
    },
    {
        "id": "5903b324.a6fc4c",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 558.5713386535645,
        "y": 716.4286193847656,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "93e3efe6.6c1c1"
            ]
        ]
    },
    {
        "id": "93e3efe6.6c1c1",
        "type": "function",
        "name": "project exist?",
        "srcFunc": "b7bc8803.484378",
        "func": "return msg;",
        "outputs": "2",
        "x": 718.5713958740234,
        "y": 716.4285678863525,
        "z": "5874fd9f.a78b04",
        "wires": [
            [
                "6c64b64b.939b48"
            ],
            [
                "ff80e2c0.007f2"
            ]
        ]
    },
    {
        "id": "b6c6e5de.493918",
        "type": "function",
        "name": "find deployment",
        "srcFunc": "da52402e.25adc",
        "func": "return msg;",
        "outputs": "2",
        "x": 479.99998474121094,
        "y": 1748.571481704712,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "dbc257e8.243da8"
            ],
            [
                "3a7d71db.c5828e"
            ]
        ]
    },
    {
        "id": "3a7d71db.c5828e",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 650.6349601745605,
        "y": 1754.285758972168,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "753647e.f8ac9b8"
            ]
        ]
    },
    {
        "id": "753647e.f8ac9b8",
        "type": "function",
        "name": "deployment exist?",
        "srcFunc": "148cc6d8.eb7339",
        "func": "return msg;",
        "outputs": "2",
        "x": 835.7142868041992,
        "y": 1751.7460479736328,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "dbc257e8.243da8"
            ],
            [
                "51b60d2a.ae49f4"
            ]
        ]
    },
    {
        "id": "dbc257e8.243da8",
        "type": "http response",
        "name": "no such deployment error",
        "x": 1063.9681701660156,
        "y": 1707.93656539917,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "148cc6d8.eb7339",
        "type": "function",
        "name": "#deployment exist?",
        "srcFunc": "",
        "func": "var deployment = msg.payload;\nif(!deployment)\n{\n\tmsg.payload = {error : \"Missinig Deployment\"};\n\treturn [msg, null];\n}\n//success\nmsg.deployment = deployment;\nreturn [null, msg];",
        "outputs": 1,
        "x": 203,
        "y": 439.4285593032837,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "da52402e.25adc",
        "type": "function",
        "name": "#find deployment by id",
        "srcFunc": "",
        "func": "var ObjectId = require('mongodb').ObjectID;\nvar did = msg.request.params.did;\ntry{\n\tvar objectId = new ObjectId(did);\n} catch (err){\n\tmsg.payload = {error : \"Missing Deployment\"};\n\treturn [msg, null];\n}\nmsg.topic = 'findOne';\nmsg.args = {\n  collection: 'deployments',\n  query: { _id: objectId }\n};\nreturn [null, msg];",
        "outputs": 1,
        "x": 211,
        "y": 319.4285593032837,
        "z": "5793e61e.a86c18",
        "wires": [
            []
        ]
    },
    {
        "id": "7ccca309.83335c",
        "type": "function",
        "name": "find deployment",
        "srcFunc": "da52402e.25adc",
        "func": "return msg;",
        "outputs": "2",
        "x": 511.4285888671875,
        "y": 1315.7143440246582,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "2b029b95.d4fd64"
            ],
            [
                "1a2b12e5.e5d4ed"
            ]
        ]
    },
    {
        "id": "1a2b12e5.e5d4ed",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 682.0635643005371,
        "y": 1321.4286212921143,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "fa17ebe5.05e818"
            ]
        ]
    },
    {
        "id": "fa17ebe5.05e818",
        "type": "function",
        "name": "deployment exist?",
        "srcFunc": "148cc6d8.eb7339",
        "func": "return msg;",
        "outputs": "2",
        "x": 867.1428909301758,
        "y": 1318.888910293579,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "2b029b95.d4fd64"
            ],
            [
                "567ef6da.a98108"
            ]
        ]
    },
    {
        "id": "2b029b95.d4fd64",
        "type": "http response",
        "name": "no such deployment error",
        "x": 1088.2539329528809,
        "y": 1282.222354888916,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "1f7d252e.e082db",
        "type": "function",
        "name": "find deployment",
        "srcFunc": "da52402e.25adc",
        "func": "return msg;",
        "outputs": "2",
        "x": 518.571403503418,
        "y": 960.0000038146973,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "621c555f.9de3ac"
            ],
            [
                "a55b77a2.5aa488"
            ]
        ]
    },
    {
        "id": "a55b77a2.5aa488",
        "type": "mongo",
        "mongodb": "4df118f.fb20ee8",
        "name": "",
        "x": 689.2063789367676,
        "y": 965.7142810821533,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "ed42466b.12bdb8"
            ]
        ]
    },
    {
        "id": "ed42466b.12bdb8",
        "type": "function",
        "name": "deployment exist?",
        "srcFunc": "148cc6d8.eb7339",
        "func": "return msg;",
        "outputs": "2",
        "x": 874.2857055664062,
        "y": 963.1745700836182,
        "z": "b3f64739.4c09b8",
        "wires": [
            [
                "621c555f.9de3ac"
            ],
            [
                "75c211f1.8a3df"
            ]
        ]
    },
    {
        "id": "621c555f.9de3ac",
        "type": "http response",
        "name": "no such deployment error",
        "x": 1106.8253631591797,
        "y": 927.9365339279175,
        "z": "b3f64739.4c09b8",
        "wires": []
    },
    {
        "id": "2dd3b195.d22c4e",
        "type": "debug",
        "name": "",
        "active": true,
        "console": false,
        "complete": false,
        "x": 753,
        "y": 465,
        "z": "8bd1f7de.742e08",
        "wires": []
    },
    {
        "id": "174e3392.e8b1cc",
        "type": "http in",
        "name": "",
        "url": "/flows",
        "method": "get",
        "x": 129,
        "y": 129,
        "z": "6cdb4cfd.9324b4",
        "wires": [
            [
                "a3d2fbc8.5c2d08"
            ]
        ]
    },
    {
        "id": "ca67ffe7.3598",
        "type": "http in",
        "name": "",
        "url": "/flows",
        "method": "post",
        "x": 125,
        "y": 276,
        "z": "6cdb4cfd.9324b4",
        "wires": [
            [
                "6b8b263a.9474d8"
            ]
        ]
    },
    {
        "id": "6b8b263a.9474d8",
        "type": "function",
        "name": "",
        "srcFunc": "",
        "func": "msg.filename = msg.req.query.filename;\nconsole.log(msg.filename);\nmsg.payload=JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 313,
        "y": 276,
        "z": "6cdb4cfd.9324b4",
        "wires": [
            [
                "5232ecd5.adcd14",
                "3945f4e8.c6ba0c"
            ]
        ]
    },
    {
        "id": "5232ecd5.adcd14",
        "type": "file",
        "name": "",
        "filename": "flows.json",
        "appendNewline": true,
        "overwriteFile": true,
        "x": 492,
        "y": 276,
        "z": "6cdb4cfd.9324b4",
        "wires": []
    },
    {
        "id": "3945f4e8.c6ba0c",
        "type": "http response",
        "name": "",
        "x": 488,
        "y": 339,
        "z": "6cdb4cfd.9324b4",
        "wires": []
    },
    {
        "id": "a8c022dd.573fe",
        "type": "file reader",
        "name": "",
        "split": false,
        "filename": "flows.json",
        "x": 442,
        "y": 129,
        "z": "6cdb4cfd.9324b4",
        "wires": [
            [
                "37331c88.c8cce4"
            ]
        ]
    },
    {
        "id": "37331c88.c8cce4",
        "type": "function",
        "name": "",
        "srcFunc": "",
        "func": "if (msg.error){\n\tmsg.payload = {};\n}\nreturn msg;\n\n",
        "outputs": "1",
        "x": 613,
        "y": 129,
        "z": "6cdb4cfd.9324b4",
        "wires": [
            [
                "235f9186.dca06e"
            ]
        ]
    },
    {
        "id": "235f9186.dca06e",
        "type": "http response",
        "name": "",
        "x": 757,
        "y": 129,
        "z": "6cdb4cfd.9324b4",
        "wires": []
    },
    {
        "id": "cf63200e.309ce",
        "type": "comment",
        "name": "get flows",
        "info": "",
        "x": 114,
        "y": 74,
        "z": "6cdb4cfd.9324b4",
        "wires": []
    },
    {
        "id": "135f57d5.eca0a8",
        "type": "comment",
        "name": "set flows",
        "info": "",
        "x": 114,
        "y": 226,
        "z": "6cdb4cfd.9324b4",
        "wires": []
    },
    {
        "id": "a3d2fbc8.5c2d08",
        "type": "function",
        "name": "",
        "srcFunc": "",
        "func": "msg.filename = msg.req.query.filename\nreturn msg;",
        "outputs": 1,
        "x": 295,
        "y": 129,
        "z": "6cdb4cfd.9324b4",
        "wires": [
            [
                "a8c022dd.573fe"
            ]
        ]
    }
]